<h1>Write your question down</h1>

<p>worst website, write down your question</p>

<header id="nav_header">
  <nav id="nav_main">
    <ul>
      <li><%= link_to "questions", root_path %></li>
      <li><%= link_to "about", about_questions_path %></li>
    </ul>

  </nav>
</header>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.user_id %></td>
    <td><%= question.title %></td>
    <td><%= question.body %></td>
    <td><%= question.date %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>